/**{
    margin: 0px;
    padding:0px;
    line-height: 1.5;
    box-sizing: border-box;
}

body{
    
    min-height: 100vh;
    font-family:sans-serif;
    font-size: 30px;
    width: 100%;
    box-sizing:border-box ;


}

.header{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    text-decoration: none;
}

.logo{
  
    font-size: 32px;
    color: #F9FAF8;
    font-weight: 700;
    text-decoration: none;
}

.navbar a{

    font-size: 18px;
    color: #E5E7EB;
    font-weight: 500;
    text-decoration: none;
    margin-left: 50px;
    float: right;

}
.navbar:hover{
    width: 100%;
}

img{
    object-fit: cover;
    width: 200px;
    float: right;
    border: 3px solid;
    margin-right: 40px;
    
}*/

body {
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', arial;
}

.container {
    display: flex;
    flex-direction: column;
}

/* Navbar Part */

.navbar {
    display: flex;
    color: #F9FAF8;
    background-color: #1F2937;
    padding: 20px 0px 20px 100px;
    align-items: center;
}


.header-logo {
    width: 84px;
    height: 84px;
    margin-right: auto;
    
}

.header-link {
    display: flex;
    margin-left: auto;
    padding: 0px 100px 0px 0px;  
}

.header-link a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    padding: 10px;
    font-family: 'Roboto', arial;
}





h3{
    font-size: 24px;
    color: #F9FAF8;
    
    font-family: 'Roboto', arial;
    padding: 0;
    margin: 30px 0px 0px 50px; 
}


#first-div{
    /*display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #1F2937;*/

    display: flex;
    color: #F9FAF8;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
    padding: 90px;
}

.text-box{
   /* color: #F9FAF8;*/
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 50px; 
}
.text-box h1{
    font-size: 48px;
}

.text-box p{
    font-size: 18px;
    color: #E5E7EB;
    font-family: 'Roboto', arial;
    opacity: 0.7;

}

h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin: 0;
    font-family: 'Roboto', arial;
}

.text-box button { 
display: block;
text-align: center;
width: 110px;
border: none;
background: #3882f6;
padding: 10px;
border-radius: 8px;
color: #fff;
font-family: 'Roboto', arial;
text-decoration: none;
font-weight: bold;
}


.content {
    align-items: center;
}

.content-info {
    display: flex;
    /* border: 1px solid gold; */
    justify-content: center;
    flex-wrap: wrap;
}

.content-info img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 4px solid #3882F6;
    border-radius: 15px;
    margin: 5px 20px 0px 20px;
    display: flex;
    flex-direction: column;
}
/*{
    
    display: grid;
    flex-direction: column;
}
#heading2{
    display: flex;
    align-self: center;
}*/



#thirddiv{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #E5E7EB;
    flex-direction: column;
    
}

#thirddiv p {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
    font-family: 'Roboto', arial;
}


#fourthdiv{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: white;
    
}

#thirddiv b {
    padding-bottom: 20px;
    padding-right: 10px;
    font-family: 'Roboto', arial;
    text-align: right;
}

#footer {
    display:flex;
    min-height: 10vh;
    justify-content: center;
    color: #E5E7EB;
    background-color: #1F2937;
    font-family: 'Roboto', arial;
}

/*.btn{

    border-radius: 10px;
    background-color: #3882F6;
    color: #E5E7EB;
    width: 90px;
    height: 40px;
}*/

.image{

    width: 500px;
    height: 350px;
}

.sign-up {
    background-color: #3882F6 ;
    margin: 50px 200px;
    padding: 10px 80px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border-color: none;
}

.sign-item {
    flex: 1;
}

.signs-text {
    text-align: left;
}

.signs-text p {
    color: #fff;
    opacity: 0.7;
    margin: 5px 30px 30px 50px;
}

.signs-button button {
    color: #fff;
    font-family: 'Roboto', arial;
    border-color: #fff;
    border-radius: 8px;
    background-color: #3882F6;
    padding: 5px 25px;
    font-size: 15px;
}



